body{
    background-color: aqua;
}

.container
{
    margin-top: 20px;
}

.ClassHtml, .ClassCss, .ClassJs
{
    background-color: black;
    color: white;
    height: 300px;
    overflow-y: scroll;
    resize: none;
}

.ClassResult
{
    background-color: white;
    color: black;
    height: 300px;
}

.classProgresseBar
{
    width: 100%;
    height: 25px;
    border: 2px, solid, gainsboro;
}

.classBoutonProgresseBar
{
    border-radius: 30px;
    width: 0%;
    height: 20px;
    background-color: green;
}

.classCaractereMax
{
    width: 100px;
    height: 20px;
    background-color: blanchedalmond;
    color: black;
    text-align: center;
}

.classValeurMax
{
    background-color: black;
    width: 50px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 3%;
    transform: translate(-50%);
}