body{
    background-color: aqua;
}

.container
{
    margin-top: 20px;
}
.ClassHtml
{
    background-color: black;
    color: white;
    height: 270px;
    overflow-y: scroll;
    resize: none;
}
.ClassCss, .ClassJs
{
    background-color: black;
    color: white;
    height: 300px;
    overflow-y: scroll;
    resize: none;
}

.ClassResult
{
    background-color: white;
    color: black;
    height: 300px;
}

.classProgresseBar
{
    width: 100%;
    height: 25px;
    border: 2px, solid, gainsboro;
}

.classBoutonProgresseBar
{
    border-radius: 30px;
    width: 0%;
    height: 20px;
    background-color: green;
}

.classCaractereMax
{
    width: 100px;
    height: 20px;
    background-color: blanchedalmond;
    color: black;
    text-align: center;
}

.classValeurMax
{
    background-color: black;
    width: 50px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 3%;
    transform: translate(-50%);
}

.rotate-vert-center {
	-webkit-animation: rotate-vert-center 1s infinite ;
	        animation: rotate-vert-center 1s infinite ;
        }
        
        /* ----------------------------------------------
        * Generated by Animista on 2022-6-24 17:54:37
        * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
 
 /**
 * ----------------------------------------
 * animation rotate-vert-center
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-vert-center {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
  }
  @keyframes rotate-vert-center {
    0% {
        -webkit-transform: rotateY(0);
              transform: rotateY(0);
            }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }

  .logoHtml
  {
    background-image: url('../include/img/html.png');
    background-repeat: no-repeat;
    background-size: cover;
      
}

.logoCss
{
    background-image: url('../include/img/css.png');
    background-repeat: no-repeat;  
    background-size: cover;
}

.logoJs
{
    background-image: url('../include/img/js.png');
    background-repeat: no-repeat;  
    background-size: contain;
}